# Create a data & use Replace function to replace the observation df.replace

In [4]:
import numpy as np
import pandas as pd

name = ["Dawid Malan","Babar Azam","KL Rahul","Aaron Finch","Rassie van der Dussen","Glenn Maxwell","Virat Kohli","olin Munro","Tim Seifert","Hazratullah Zazai"]
choice = [1,2,3,4,5,6,7,8,9,10]

#creating dictionary
dict1 = {'Name':name,'Ranking':choice}

#creating dataframe-1
df1 = pd.DataFrame(dict1)
print(df1,"\n")

                    Name  Ranking
0            Dawid Malan        1
1             Babar Azam        2
2               KL Rahul        3
3            Aaron Finch        4
4  Rassie van der Dussen        5
5          Glenn Maxwell        6
6            Virat Kohli        7
7             olin Munro        8
8            Tim Seifert        9
9      Hazratullah Zazai       10

In [10]:
#Replacing Ranking Column

df1=df1.replace([1,2,3,4,5,6,7,8,9,10],['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th'])
print(df1)
df1.to_csv("Men's T20I Player Rankings")

                    Name Ranking
0            Dawid Malan     1st
1             Babar Azam     2nd
2               KL Rahul     3rd
3            Aaron Finch     4th
4  Rassie van der Dussen     5th
5          Glenn Maxwell     6th
6            Virat Kohli     7th
7             olin Munro     8th
8            Tim Seifert     9th
9      Hazratullah Zazai    10th