In [3]:
# using while loop print numbers from 10 to 1
count = 10
while(count>=1):
    print(count)
    count = count - 1

10
9
8
7
6
5
4
3
2
1

In [80]:

adj = ["red", "big", "tasty"]
Fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in Fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [66]:
# Using for loop to loop over tuples

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [132]:
# Using for loop to loop over dictionaries

dict1 = {"Brand":"Bajaj",
         "model":"Pulsar",
         "year":2015,
         "cost":85000}

for x in dict1:             # This statment will print only key.
    print(x)
print("\n")

for x in dict1:             #This statment will print only value.
    print(dict1[x])
print("\n")

for x in dict1.values():    #This statment also wil print only value.
    print(x)
print("\n")

for x in dict1.items():   # This statment will print both key and value.
    print(x)
print("\n")

for x,y in dict1.items():   # This statment will print both key and value.
    print(x,y)

Brand
model
year
cost


Bajaj
Pulsar
2015
85000


Bajaj
Pulsar
2015
85000


('Brand', 'Bajaj')
('model', 'Pulsar')
('year', 2015)
('cost', 85000)


Brand Bajaj
model Pulsar
year 2015
cost 85000

In [159]:
# Using for loop to loop over nested dictionaries
dict2 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

for x in dict2.items():
    print(x)
print("\n")

for x,y in dict2.items():
    print(x)
    print(y)
    print(x,y)

for x in dict2["april_batch"]["student"]["marks"]:         
    print(x)
print("\n")

('april_batch', {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}})


april_batch
{'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}
april_batch {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}
python
maths

In [125]:
# Using for loop to loop over list

Fruits1 = ["red", "big", "tasty"]
for x in Fruits1:
    print(x)
print("\n")

# Using for loop to loop over nested list    
list1 = [1,2,[3,4,5,6,[7,8,9]]]
for x in list1[2][4]:
    print(x)

red
big
tasty


7
8
9

In [127]:
# Using for loop to loop over set

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana
student