# Create a dataframe using labelencoders and onehotencoder and converting categorical data to numerical data

In [23]:
!pip install --user scikit-learn

Requirement already satisfied: scikit-learn in c:\users\deepika\anaconda3\lib\site-packages (0.23.1)
Requirement already satisfied: joblib>=0.11 in c:\users\deepika\anaconda3\lib\site-packages (from scikit-learn) (0.16.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\deepika\anaconda3\lib\site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied: scipy>=0.19.1 in c:\users\deepika\anaconda3\lib\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\deepika\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)

In [70]:
import numpy as np
import pandas as pd


name = ["Dawid Malan","Babar Azam","KL Rahul","Aaron Finch","Rassie van der Dussen","Glenn Maxwell","Virat Kohli","olin Munro","Tim Seifert","Hazratullah Zazai"]
choice = [1,2,3,4,5,6,7,8,9,10]
Country = ['England','Pakistan','India','Australia','South Africa','Australia','India','New Zeland','New Zeland','Afghanistan']

#creating dictionary
dict1 = {'Name':name,'Ranking':choice,'Country':Country}

#creating dataframe-1
df = pd.DataFrame(dict1)
print(df,"\n")
print(type(df))

                    Name  Ranking       Country
0            Dawid Malan        1       England
1             Babar Azam        2      Pakistan
2               KL Rahul        3         India
3            Aaron Finch        4     Australia
4  Rassie van der Dussen        5  South Africa
5          Glenn Maxwell        6     Australia
6            Virat Kohli        7         India
7             olin Munro        8    New Zeland
8            Tim Seifert        9    New Zeland
9      Hazratullah Zazai       10   Afghanistan

<class 'pandas.core.frame.DataFrame'>

In [71]:
df = df.iloc[:,:].values
print(df,"\n")
print(type(df))

[['Dawid Malan' 1 'England']
 ['Babar Azam' 2 'Pakistan']
 ['KL Rahul' 3 'India']
 ['Aaron Finch' 4 'Australia']
 ['Rassie van der Dussen' 5 'South Africa']
 ['Glenn Maxwell' 6 'Australia']
 ['Virat Kohli' 7 'India']
 ['olin Munro' 8 'New Zeland']
 ['Tim Seifert' 9 'New Zeland']
 ['Hazratullah Zazai' 10 'Afghanistan']]

<class 'numpy.ndarray'>

In [72]:
# Coverting the categorical data to numerical for column "Country" using labelencoder

from sklearn.preprocessing import LabelEncoder
nation=LabelEncoder()
df[:,2]=nation.fit_transform(df[:,2])
print(df)

[['Dawid Malan' 1 2]
 ['Babar Azam' 2 5]
 ['KL Rahul' 3 3]
 ['Aaron Finch' 4 1]
 ['Rassie van der Dussen' 5 6]
 ['Glenn Maxwell' 6 1]
 ['Virat Kohli' 7 3]
 ['olin Munro' 8 4]
 ['Tim Seifert' 9 4]
 ['Hazratullah Zazai' 10 0]]

In [73]:
# Spilt the column into multiple columns using onehotencoder

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encode',OneHotEncoder(),[2])],remainder="passthrough")

In [74]:
y=ct.fit_transform(df)
df=pd.DataFrame(y)
df

   0  1  2  3  4  5  6                      7   8
0  0  0  1  0  0  0  0            Dawid Malan   1
1  0  0  0  0  0  1  0             Babar Azam   2
2  0  0  0  1  0  0  0               KL Rahul   3
3  0  1  0  0  0  0  0            Aaron Finch   4
4  0  0  0  0  0  0  1  Rassie van der Dussen   5
5  0  1  0  0  0  0  0          Glenn Maxwell   6
6  0  0  0  1  0  0  0            Virat Kohli   7
7  0  0  0  0  1  0  0             olin Munro   8
8  0  0  0  0  1  0  0            Tim Seifert   9
9  1  0  0  0  0  0  0      Hazratullah Zazai  10